body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

h1,
#cepForm,
#result {
  text-transform: uppercase;
  color: white;
  font-family: "Oswald";
}

.container {
  background-color: #1737355e;
}

.image {
  display: flex;
  margin-top: 0px;
}
#img1 {
  margin-top: 25px;
  width: 90px;
  height: 90px;
  
}

input {
  background-color: #0b0c10;
  color: white;
  border-radius: 20px 0px 0px 20px;
  border: none;
}

#submitbtn {
  border-radius: 0px 20px 20px 0px;
  border: none;
  width: 100px;
  cursor: pointer;
  background-color: #45a28e;
  font-family: Oswald;
  text-transform: uppercase;
  opacity: 0.8;
}



#clearbtn {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;

  color: #0b0c10;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.318);
  font-family: Oswald;
  text-transform: uppercase;
}

#img3 {
  margin-left: 2px;
  width: 36.4rem;
  height: 80px;
  margin-top: 0;
  opacity: 0.3;
  border-radius: 0px 0px 20px 20px;
  
}

#lupa {
  display: flex;
}

#result {
  background-color: #0b0c10;
  border-radius: 50px 50px 0px 0px;
  text-transform: initial;
  color: #c5c6c758;
  font-size: 15pt;
}

#rua,
#bairro,
#localidade,
#uf {
  /* background-color: #1f2833; */
  margin-left: 50px;
  font-size: 16pt;
  text-transform: initial;
  color: #c5c6c7;
}

p {
  padding-left: 10px;
  border-bottom: solid;
  border-color: rgba(52, 44, 44, 0.101);
}
