@media (min-width: 1220px) {
    .container {
      padding-left: 33rem;
    }
  
    h1 {
      font-size: 40pt;
    }
    form {
      font-size: 30pt;
    }
  
    #textCEP {
        margin-left: 14px;
    }
    }
    input {
      
      width: 26rem;
      height: 30px;
      margin-left: 10px;
      padding: 15px;    
      color: white;
      font-size: 18pt;
    }
  
    #result {
      width: 34rem;
      height: 13rem;
    }
    
    #clearbtn {
      margin-left: 80px;
    }
  